################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mango
/.vs/ProjectEvaluation
**/bin/*
**/obj/*
/Mango.Services.CouponAPI/bin/Debug/net8.0/Mango.Services.CouponAPI.exe
/.vs
